<html>
  <head>
    <title>Fill all the forms below</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
        <a href="{{url_for('sql')}}">SQL Injection</a><br>
        <a href="{{url_for('html')}}">HTML Injection</a><br>
        <a href="{{url_for('php')}}">PHP Injection</a><br>
        <a href="{{url_for('ldap')}}">LDAP Injection</a><br>
        <a href="{{url_for('rfi')}}">RFI Injection</a><br>
        <a href="{{url_for('xpath')}}">Xpath Injection</a><br>
        <a href="{{url_for('xss')}}">XSS Injection</a><br>
    </div>
  </body>
</html>